.comments {
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.8);
    margin: 5%;
    padding: 10px 20px 20px 20px;
    max-height: 40vh;
    text-align: left;
    overflow-y: scroll;
}

.commentContainer {
    border: solid 1px #ced4da;
    background-color: #fff;
    border-radius: .25rem;
    padding: .375rem .75rem;
    background-clip: padding-box;
    min-height: 37px;
    margin-top: 20px;
}

.userCommment {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 5px;
}

.commentForm > .form-group{
    display: flex;
    flex-direction: row;
}
.newComment {
    margin-right: 10px;
}