.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1518810370118-0fde40f8b0f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px black;  
}
