/* .header {
    padding-bottom: 10vh;
} */
.carousel-inner {
    box-shadow: 0px 0px 10px #fff;
    width: 100%;
    max-height: 75vh !important;
}

.carousel-item {
    width: 100%;
    max-height: 75vh !important;
}

.carousel-item > img {
    width: 100%;
    max-height: 75vh !important;
}

.carousel-caption > h3{
    line-height: 140%;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4.5em;
    text-shadow: 2px 2px 10px gray;
}

.carousel-caption > p {
    font-size: 2rem;
    text-shadow: 2px 2px 10px gray;
}

