.spot {
    margin: 56px 5%;
}

.spotCarousel {
    border-radius: 10px;
    overflow: hidden;
}

.spotDescription {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(250,250,250,0.7);
    border-radius: 10px;
    font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}