.title {
    margin: 5vh;
    line-height: 140%;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 3.5em;
}

h1 {
    font-size: 4rem;
}
h1::before,
h1::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid white;
    width: 30vh;
    margin: 0 1rem;
    transform: translateY(-1rem);
}